In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\USER\\Desktop\\nlp_mini_prj_vds_csv_file.csv")

In [13]:
df['ID'] = [101,102,103,104,105,106,107,108,109,110]

In [14]:
df.set_index('ID',inplace=True)

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
from sklearn.decomposition import NMF

In [15]:
df

,Posts,topic,topic_labels
ID,,,
101,Completed an AI Specialization!Few months back...,1,ai course by laurence
102,I have submitted my resume to hundreds of comp...,8,automotive companies internship
103,Proud to announce on behalf of all Mandya Dist...,3,mandya farmers
104,I am posting for the second time. As i am tryi...,9,job support
105,As we continue our journey of becoming part of...,2,wroclaw-poland
106,"Electric Miniature jeep!! Arunkumar, Kerala de...",6,electric jeep
107,There are so many professional's on LinkedIn t...,0,LinkedIn
108,Apple’s most iconic retail store to date. Insp...,4,apple singapore
109,"Life starts when you solve problems, as a data...",7,telecom business dashboards using tablaeu
110,"When I was at IIM Ahmedabad, I had the habit o...",5,campus education

# latentDirichletsAllocation

In [5]:
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
#cv = CountVectorizer(max_df=1,min_df=1,stop_words='english')
#dir_dtm = cv.fit_transform(df['Posts'])
#dir_model = LatentDirichletAllocation(n_components=10,random_state=0)
#dir_model.fit(dir_dtm)
#for index,topic in enumerate(dir_model.components_):
#    print(f"the top 10 words for index {index} is :")
#    print([cv.get_feature_names()[i] for i in topic.argsort()[-20:]])
#    print('\n')
#    print('\n')
#topic_results = dir_model.transform(dir_dtm)
#df['topic'] = topic_results.argmax(axis=1)

# the dirichlets allocation is not so great as nmf when there was a comparision and hence, chose NMF for final topic modelling

# non negative matrix factorization

In [16]:
def topic_modelling(df):
    tfidf = TfidfVectorizer(max_df=1.0,min_df=1,stop_words='english')
    dtm = tfidf.fit_transform(df['Posts'])
    nmf_model = NMF(n_components=10,random_state=0)
    nmf_model.fit(dtm)
    for index,topic in enumerate(nmf_model.components_):
        print(f"The top 15 word for {index} is :")
        print([tfidf.get_feature_names()[i] for i in topic.argsort()[-20:]])
        print('\n')
    topic_res = nmf_model.transform(dtm)
    df['topic'] = topic_res.argmax(axis=1)
    my_topic_dict = {0:'LinkedIn',1:'ai course by laurence',2:'wroclaw-poland',3:'mandya farmers',
                4:'apple singapore',5:'campus education',6:'electric jeep',7:'telecom business dashboards using tablaeu',
                8:'automotive companies internship',9:'job support'}
    df['topic_labels'] = df['topic'].map(my_topic_dict)
    return df

In [17]:
topic_modelling(df)

The top 15 word for 0 is :
['hope', 'network', 'asking', 'little', 'linkedin', 'unsuccessful', 'likes', 'finding', 'helping', 'talk', 'ago', 'imagine', 'hardly', 'motivational', 'visibility', 'opens', 'liked', 'search', 'job', 'post']


The top 15 word for 1 is :
['thankful', 'keeping', 'tensorflow', 'teachers', 'binging', 'stumbled', 'andrew', 'assignments', 'specialized', 'started', 'completed', 'concept', 'videos', 'coursera', 'voila', 'like', 'ai', 'laurence', 'courses', 'specialization']


The top 15 word for 2 is :
['home', 'global', 'functions', 'ostrowskiego', 'teamzf', 'poland', 'engagedemployees', 'division', 'recently', 'control', 'continue', 'sites', 'commercial', 'check', 'street', 'supply', 'buildings', 'engineering', 'zf', 'wroclaw']


The top 15 word for 3 is :
['village', 'make', 'hosahalli', 'highway', 'applied', 'saturday', 'behalf', 'pour', 'universe', 'biggest', 'heart', 'country', 'announce', 'entire', 'market', 'farmers', 'jai', 'mandya', 'india', 'organic']


The top 15 word for 4 is :
['meeting', 'supported', 'monumentally', 'artists', 'approach', 'glass', 'apple', 'underwater', 'store', 'musicians', 'located', 'fully', 'sporting', 'sphere', 'iconic', 'floating', 'speaks', 'singapore', 'age', 'creators']


The top 15 word for 5 is :
['classes', 'campus', 'announcement', 'catch', 'slept', 'sleep', 'chat', 'chit', 'mates', 'time', 'day', 'pm', 'didn', 'thought', 'quiz', 'night', 'things', 'studying', 'afternoon', 'study']


The top 15 word for 6 is :
['reverse', 'console', 'continuously', 'cloth', 'ga', 'model', 'kg', 'built', 'miniature', 'electric', 'designed', 'real', 'arunkumar', 'taken', 'charger', 'charge', 'mahindra', 'anand', 'used', 'jeep']


The top 15 word for 7 is :
['going', 'gives', 'love', 'lot', 'loss', 'losing', 'hunting', 'eda', 'day', 'problems', 'telecom', 'story', 'business', 'tableau', 'dashboard', 'data', 'powerful', 'company', 'churn', 'customers']


The top 15 word for 8 is :
['19', 'internship', 'iot', 'impact', 'information', 'master', 'big', 'school', 'extremely', 'period', 'crucial', 'seeking', 'privileged', 'resume', 'pursing', 'starting', 'automotive', 'companies', 'manipal', 'embedded']


The top 15 word for 9 is :
['comment', 'open', 'suggestions', 'unfortunately', 'boarding', 'appreciated', 'various', 'trying', 'new', 'experience', 'best', 'connections', 'payroll', 'employee', 'hire', 'help', 'end', 'job', 'support', 'hr']

,Posts,topic,topic_labels
ID,,,
101,Completed an AI Specialization!Few months back...,1,ai course by laurence
102,I have submitted my resume to hundreds of comp...,8,automotive companies internship
103,Proud to announce on behalf of all Mandya Dist...,3,mandya farmers
104,I am posting for the second time. As i am tryi...,9,job support
105,As we continue our journey of becoming part of...,2,wroclaw-poland
106,"Electric Miniature jeep!! Arunkumar, Kerala de...",6,electric jeep
107,There are so many professional's on LinkedIn t...,0,LinkedIn
108,Apple’s most iconic retail store to date. Insp...,4,apple singapore
109,"Life starts when you solve problems, as a data...",7,telecom business dashboards using tablaeu
110,"When I was at IIM Ahmedabad, I had the habit o...",5,campus education